/target/surefire-reports/core.MeetingManagerTest.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/model/Email.class
/target/classes/util/Helper.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/model/Meeting.class
/target/classes/model/MeetingDateTime.class
/target/classes/core/MeetingManager.class
/target/test-classes/core/MeetingManagerTest.class
/meetingscheduling.iml
/target/classes/model/Name.class
/target/classes/model/Person.class
/target/surefire-reports/TEST-core.MeetingManagerTest.xml
/target/surefire-reports/TEST-util.HelperTest.xml
/target/classes/model/TimeSlot.class
/target/surefire-reports/util.HelperTest.txt
